= devise_error_messages!
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, 'data-abide': true, novalidate: true }) do |f|
  %fieldset
    %legend Edit #{resource_name.to_s.humanize}
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, required: true, pattern: :email
      %small.error A valid email is required.
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password, "Password <small>(leave blank if you don't want to change it)</small>".html_safe
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off"
    .field
      = f.label :current_password, "Current password <small>(we need your current password to confirm your changes)</small>".html_safe
      = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Update"
%br/
%h3
  Cancel my account
Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
%br/
= link_to "Back", :back
