= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, 'data-abide': true, novalidate: true }) do |f|
	= devise_error_messages!
	%fieldset
		%legend Forgot your password?
		.field
			= f.label :email
			= f.email_field :email, autofocus: true, required: true, pattern: :email
			%small.error Please type in a valid email.
		.actions
			= f.submit "Send me reset password instructions"
= render "devise/shared/links"
