%h2 Edit Event
%p= link_to 'Back to events page', events_path

- if @event.errors.any?
  %div#error_explanation
    %p #{pluralize(@event.errors.count, "error")} prevented this event_currency from being saved:
    %ul
    - @event.errors.full_messages.each do |msg|
      %li= msg
%br/

= form_for(@event) do |f|
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :from_date
    %br/
    = f.date_field :from_date, size: 10, class: :datepicker
  .field
    = f.label :to_date
    %br/
    = f.date_field :to_date, size: 10, class: :datepicker
    %br/
  .field
    = f.label :event_currency
    %br/
    - if @event.items.empty?
      = f.select :event_currency, options_from_collection_for_select(Money::Currency.all, :id, :iso_code, @event.event_currency), prompt: "Select event currency"
    - else
      = f.text_field :event_currency, value: @event.event_currency.upcase, disabled: true
    %br/
    = f.label "Change the organizer"
    %br/
    = f.select :organizer_id, options_from_collection_for_select(@event.users, :id, :name, @event.organizer_id)
    %br/
    %br/
  .actions
    = f.submit "Save event"
