%h1 All event items
%p= link_to 'Back to event', events_path
- if @items.empty?
	%p You don't have any items.
- else
	%hr
	- @items.each do |item|
		- if current_user.can_update?(item) or current_user.can_delete?(item)
			%p #{item.name} at the #{item.value_date.strftime('%d %b %Y')} - #{link_to("Edit", edit_item_path(item)) if current_user.can_update?(item)} - #{link_to("Delete", item_path(item), :data => {:confirm => 'Are you sure?'}, method: :delete) if current_user.can_delete?(item)}
		- else
			%p #{item.name} at the #{item.value_date.strftime('%d %b %Y')}
		Description: #{item.description}
		%br/
		Base amount: #{money_format(item.base_amount, item.base_currency)}
		%br/
		Foreign amount: #{money_format(item.foreign_amount, item.foreign_currency)}
		%br/
		Beneficiaries: #{item.beneficiaries.map { |b| b.name }.join(", ") }
		%hr
