= content_for :title, "Expense summary for " + @event.name + " event"

-content_for :menu do
  %li= link_to 'Back to events page', events_path
  %li
    %label= @event.name
  %li= link_to "Create new item", new_event_item_path(@event)
  - if current_user.can_update?(@event)
    %li= link_to("Invite to event", invite_to_event_path(@event)) 
  %li= link_to "View event details", event_path(@event)
  - if current_user.can_update?(@event)
    %li= link_to("Edit event", edit_event_path(@event)) 
  - if current_user.can_delete?(@event)
    %li= link_to("Delete event", event_path(@event), method: :delete, :data => {:confirm => "Are you sure you want to delete event #{@event.name}?"}) 
  %li= link_to "All event items", event_all_items_path(@event)
  %li= link_to "Your event items", event_items_path(@event)
  %li= link_to "Expense summary", expense_report_path(@event)
  %li= link_to "Who owes you?", who_owes_you_path(@event)
  %li= link_to "You owe whom?", you_owe_whom_path(@event)
end

.row
  .small-12.columns.small-centered.table-selector
    %table.tablesaw{role: :grid, "data-tablesaw-mode": :stack}
      %caption
        Expense Summary*
        %span.has-tip{"data-tooltip": true, :title => "#{Money::Currency.new(@event.event_currency).name}"} (base currency is #{@event.event_currency.upcase})
      %thead
        %tr
          %th Participant
          %th Total Paid
          %th Total Benefited
          %th Balance
      %tfoot
        %tr{"data-tablesaw-no-labels": true}
          %td{colspan: 4} *Amounts are rounded for display
      %tbody
        -@participants.each do |participant|
          %tr
            %td= participant.short_name 
            %td= money_format(@event.total_expenses_amount_for(participant), @event.event_currency)
            %td= money_format(@event.total_benefited_amount_for(participant), @event.event_currency)
            %td= money_format(@event.balance_for(participant), @event.event_currency)
