%h2 Expense Report
%p= link_to 'Back to event', events_path
%table
  %caption Expense Report* (base currency is #{@event.event_currency.upcase})
  %thead
    %tr
      %th Participant
      %th Total Paid
      %th Total Benefited
      %th Balance
  %tbody
    -@participants.each do |participant|
      %tr
        %td= participant.name
        %td= money_format(@event.total_expenses_amount_for(participant), @event.event_currency)
        %td= money_format(@event.total_benefited_amount_for(participant), @event.event_currency)
        %td= money_format(@event.balance_for(participant), @event.event_currency)

%small *Amounts are rounded for display