%h2 Expense Report

%br/

%table
  %caption Expense Report* (base currency is #{@event.event_currency.upcase})
  %thead
    %tr
      %th Participant
      %th Total Paid
      %th Total Benefited
      %th Balance
  %tbody
    -@participants.each do |participant|
      %tr
        %td= participant.name
        %td= money_format(@event.total_expenses_amount_for(participant), @event.event_currency)
        %td= money_format(@event.total_benefited_amount_for(participant), @event.event_currency)
        %td= money_format(@event.balance_for(participant), @event.event_currency)
        
%br/
%small *Amounts are rounded for display
%br/
%br/
=link_to 'Go to events page', events_path