= content_for :title, "Expense report for " + @event.name + " event"
%p= link_to 'Back to event', events_path
%p= link_to "Who owes you?", who_owes_you_path(@event)
.row
  .small-12.columns.small-centered.table-selector
    %table.tablesaw{role: :grid, "data-tablesaw-mode": :stack}
      %caption
        Expense Summary*
        %span.has-tip{"data-tooltip": true, :title => "#{Money::Currency.new(@event.event_currency).name}"} (base currency is #{@event.event_currency.upcase})
      %thead
        %tr
          %th Participant
          %th Total Paid
          %th Total Benefited
          %th Balance
      %tfoot
        %tr{"data-tablesaw-no-labels": true}
          %td{colspan: 4} *Amounts are rounded for display
      %tbody
        -@participants.each do |participant|
          %tr
            %td= participant.short_name
            %td= money_format(@event.total_expenses_amount_for(participant), @event.event_currency)
            %td= money_format(@event.total_benefited_amount_for(participant), @event.event_currency)
            %td= money_format(@event.balance_for(participant), @event.event_currency)
