= content_for :title, "Create new event"
%p= link_to 'Back to events page', events_path

- if @event.errors.any?
  %div#error_explanation
    %p #{pluralize(@event.errors.count, "error")} prevented this event from being saved:
    %ul
    - @event.errors.full_messages.each do |msg|
      %li= msg

= form_for @event, html: { 'data-abide': true, novalidate: true } do |f|
  %fieldset
    %legend Create new event
    .field
      = f.label :name
      = f.text_field :name, required: true
      %small.error Please name the event.
    .field
      = f.label :description
      = f.text_field :description, required: true
      %small.error Please describe the event.
    .field
      = f.label :from_date
      = f.date_field :from_date, size: 10, required: true
      %small.error Please choose a start date for the event.
    .field
      = f.label :end_date
      = f.date_field :end_date, size: 10, required: true
      %small.error Please choose an end date for the event.
    .field
      = f.label :event_currency
      = f.select :event_currency, options_from_collection_for_select(Money::Currency.all, :id, :iso_code), {prompt: "Select event currency"}, {required: true}
      %small.error Please choose an event currency.
    .field
      = f.hidden_field :organizer_id
  .actions
    = f.submit "Create event"
