= content_for :title, "Details about " + @event.name

-content_for :menu do
  %li= link_to "Back to all items", event_all_items_path(@event)
  %li= link_to "Back to your items", event_items_path(@event)
  %li= link_to 'Back to events', events_path
  %li.has-submenu
    %a{href: "#"}= @event.name + " event"
    %ul.left-submenu
      %li.back
        %a{href: "#"} Back
      %li= link_to "Create new event", new_event_path
      %li
        %label= @event.name + " event"
      - if current_user.can_update?(@event)
        %li= link_to("Invite to event", invite_to_event_path(@event)) 
      %li= link_to "View event details", event_path(@event)
      - if current_user.can_update?(@event)
        %li= link_to("Edit event", edit_event_path(@event)) 
      - if current_user.can_delete?(@event)
        %li= link_to("Delete event", event_path(@event), method: :delete, :data => {:confirm => "Are you sure you want to delete event #{@event.name}?"}) 
      %li.has-submenu
        %a{href: "#"} Expense Reports
        %ul.left-submenu
          %li.back
            %a{href: "#"} Back
          %li
            %label Expense Reports
          %li= link_to "Expense summary", expense_report_path(@event)
          %li= link_to "Who owes you?", who_owes_you_path(@event)
          %li= link_to "You owe whom?", you_owe_whom_path(@event)
  %li.has-submenu
    %a{href: "#"}= @event.name + " items"
    %ul.left-submenu
      %li.back
        %a{href: "#"} Back
      %li= link_to "Create new item", new_event_item_path(@event)
end

- content_for :topbar do
  <!-- Index pages -->
  %li.has-dropdown
    %a{href: "#"} Back to ...
    %ul.dropdown
      %li= link_to "... events", events_path
      %li= link_to "... all items (#{@event.name})", event_all_items_path(@event)
      %li= link_to "... your items (#{@event.name})", event_items_path(@event)
  <!-- Event pages -->
  %li.has-dropdown
    %a{href: "#"}= @event.name + " event"
    %ul.dropdown
      - if current_user.can_update?(@event)
        %li= link_to("Invite to event", invite_to_event_path(@event))
      %li.active= link_to "View event details", event_path(@event)
      - if current_user.can_update?(@event)
        %li= link_to "Edit event", edit_event_path(@event)
      - if current_user.can_delete?(@event)
        %li= link_to("Delete event", event_path(@event), method: :delete, :data => {:confirm => "Are you sure you want to delete event #{@event.name}?"})
      %li.has-dropdown
        %a{href: "#"} Expense Reports
        %ul.dropdown
          %li= link_to "Expense summary", expense_report_path(@event)
          %li= link_to "Who owes you?", who_owes_you_path(@event)
          %li= link_to "You owe whom?", you_owe_whom_path(@event)
  <!-- Item pages -->
  %li.has-dropdown
    %a{href: "#"}= @event.name + " items"
    %ul.dropdown
      %li= link_to "Create item", new_event_item_path(@event)
end

= form_for @event do |f|
  .row
    .small-12.medium-8.large-6.columns.small-centered
      %fieldset{disabled: true}
        %legend View event details
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :name
          .small-12.medium-8.large-8.columns.end
            = f.text_field :name
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :description
          .small-12.medium-8.large-8.columns.end
            = f.text_field :description
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :from_date, "Start date"
          .small-12.medium-8.large-8.columns.end
            = f.date_field :from_date, size: 10
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :end_date
          .small-12.medium-8.large-8.columns.end
            = f.date_field :end_date, size: 10
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :event_currency
          .small-12.medium-8.large-8.columns.end
            = f.text_field :event_currency, value: @event.event_currency.upcase
        .row
          .field.small-12.medium-4.large-4.columns.end
            = label_tag :dummy, "Organizer"
          .small-12.medium-8.large-8.columns.end
            = text_field_tag :dummy, @event.organizer.name
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :participants
          .small-12.medium-8.large-8.columns.end
            = f.collection_check_boxes(:user_ids, @event.users, :id, :name) do |b|
              =  b.label { b.check_box + " " + b.text }
