= content_for :title, "Details about " + @event.name
%h3 Event details
%p Name: #{@event.name}
%p Description: #{@event.description}
%p From date: #{@event.from_date}
%p To Date: #{@event.end_date}
%p Event currency: #{@event.event_currency.upcase}
%p Organizer: #{@event.organizer.name}
%p Participants: #{@event.users.map { |u| u.name }.join(", ") }
%p Back to #{link_to 'Your events', events_path}