= content_for :title, "Details about " + @event.name
%p= link_to 'Back to Your events', events_path
.row
	.small-12.medium-8.large-6.columns.small-centered
		%table
			%caption
				Event details
			%tbody
				%tr
					%th Name
					%td #{@event.name}
				%tr
					%th Description
					%td #{@event.description}
				%tr
					%th From Date
					%td #{@event.from_date.strftime('%d %b %Y')}
				%tr
					%th To Date
					%td #{@event.end_date.strftime('%d %b %Y')}
				%tr
					%th Event currency
					%td #{@event.event_currency.upcase}
				%tr
					%th Organizer
					%td #{@event.organizer.name}
				%tr
					%th Participants
					%td
						- @event.users.each do |participant|
							= participant.short_name
							%br
