= content_for :title, "Who owes you"
= link_to "Back to expense summary", expense_report_path(@event)
%br
%br
%ul{style: "list-style-type:none"}
	- @total_amounts.each do |beneficiary, amount|
		%li
			%u= beneficiary.short_name + " owes you " + money_format(amount, @event.event_currency) + " in total"
		%ul
			- @item_lists[beneficiary].each do |item|
				%li= beneficiary.short_name + " owes you " + money_format(item.cost_per_beneficiary, @event.event_currency) + " for item " + item.name + " (#{item.description})"
}
