%h2 Item details
%p= link_to 'Back to your items', event_items_path(@item.event)

- if @item.errors.any?
  %div#error_explanation
    %p #{pluralize(@item.errors.count, "error")} prevented this item from being saved:
    %ul
    - @item.errors.full_messages.each do |msg|
      %li= msg

= form_for @item do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :value_date
    = f.date_field :value_date, size: 10
  .field
    = f.hidden_field :payer_id
  .field
    =f.label :base_amount
    = f.number_field :base_amount, value: @item.base_amount, min: 0, step: :any, readonly: true
    %small = "Exchange rate" * "Foreign currency"
  .field
    = f.label :base_currency
    = f.text_field :base_currency, value: @item.event.event_currency.upcase, readonly: true
    %small This is the event currency
  .field
    = f.label :exchange_rate
    = f.number_field :exchange_rate, step: :any
    %small Leave blank to fetch currency automatically
  .field
    = f.label :foreign_amount
    = f.number_field :foreign_amount, value: @item.foreign_amount, min: 0, step: :any
  .field
    = f.label :foreign_currency
    = f.select :foreign_currency, options_from_collection_for_select(Money::Currency.all, :iso_code, :iso_code, @item.foreign_currency), prompt: "Select foreign currency"
  .field
    = f.label :beneficiaries
    = f.collection_check_boxes(:beneficiary_ids, @item.event.users, :id, :name)
  .actions
    = f.submit "Post item"
