= content_for :title, "Details for " + @item.name.to_s + " item"
%p= link_to 'Back to your items', event_items_path(@item.event)

- if @item.errors.any?
  %div#error_explanation
    %p #{pluralize(@item.errors.count, "error")} prevented this item from being saved:
    %ul
    - @item.errors.full_messages.each do |msg|
      %li= msg

= form_for @item, html: { 'data-abide': true, novalidate: true } do |f|
  %fieldset
    %legend Edit item
    .field
      = f.label :name
      = f.text_field :name, required: true
      %small.error Please name the item.
    .field
      = f.label :description 
      = f.text_field :description, required: true
      %small.error Please describe the item.
    .field
      = f.label :value_date 
      = f.date_field :value_date, size: 10, required: true
      %small.error Please choose a value date for the item.
    .field
      = f.hidden_field :payer_id
    .field
      =f.label :base_amount, "Base amount <small> = Exchange rate * Foreign currency</small>".html_safe
      = f.number_field :base_amount, value: @item.base_amount, min: 0, step: :any, readonly: true
    .field
      = f.label :base_currency, "Base currency <small>This is the event currency</small>".html_safe
      = f.text_field :base_currency, value: @item.event.event_currency.upcase, readonly: true
    .field
      = f.label :exchange_rate, "Exchange rate <small>Leave blank to fetch currency automatically</small>".html_safe
      = f.number_field :exchange_rate, step: :any
    .field
      = f.label :foreign_amount
      = f.number_field :foreign_amount, value: @item.foreign_amount, min: 0, step: :any, required: true
      %small.error Please type in how much you paid for the item.
    .field
      = f.label :foreign_currency
      = f.select :foreign_currency, options_from_collection_for_select(Money::Currency.all, :iso_code, :iso_code, @item.foreign_currency), {prompt: "Select foreign currency"}, {required: true}
      %small.error Please choose a currency.
    .field
      = f.label :beneficiaries
      = f.collection_check_boxes(:beneficiary_ids, @item.event.users, :id, :name)
  .actions
    = f.submit "Post item"
