= content_for :title, "Create new item in " + @item.event.name + " event"
%p= link_to 'Back to your items', event_items_path(@item.event)

- if @item.errors.any?
  %div#error_explanation
    %p #{pluralize(@item.errors.count, "error")} prevented this item from being saved:
    %ul
    - @item.errors.full_messages.each do |msg|
      %li= msg

= form_for @item, url: event_items_path(@item.event), html: { 'data-abide': true, novalidate: true } do |f|
  .row
    .small-12.medium-8.large-6.columns.small-centered
      %fieldset
        %legend Create a new item
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :name
          .small-12.medium-8.large-8.columns.end
            = f.text_field :name, required: true
            %small.error Please name the item.
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :description
          .small-12.medium-8.large-8.columns.end
            = f.text_field :description, required: true
            %small.error Please describe the item.
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :value_date
          .small-12.medium-8.large-8.columns.end
            = f.date_field :value_date, size: 10, required: true
            %small.error Please choose a value date for the item.
        .row
          .field.small-12
            = f.hidden_field :payer_id
        .row
          .field.small-12.medium-4.large-4.columns.end
            =f.label :base_amount, "Base amount"
          .small-12.medium-8.large-8.columns.end
            = f.number_field :base_amount, readonly: true, placeholder: "= Exchange rate * Foreign amount"
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :base_currency, "Base currency"
          .small-12.medium-8.large-8.columns.end
            = f.text_field :base_currency, value: @item.event.event_currency.upcase, readonly: true
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :exchange_rate, "Exchange rate"
          .small-12.medium-8.large-8.columns.end
            = f.number_field :exchange_rate, placeholder: "Leave blank to fetch currency automatically", required: true, pattern: :exchange_rate
            %small.error Exchange rate must be a positive number.
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :foreign_amount
          .small-12.medium-8.large-8.columns.end
            = f.number_field :foreign_amount, required: true, pattern: :amount
            %small.error Please type in how much you paid for the item.
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :foreign_currency
          .small-12.medium-8.large-8.columns.end
            = f.select :foreign_currency, options_from_collection_for_select(Money::Currency.all, :iso_code, :iso_code, select_currency(@item, @item.event)), {prompt: "Select foreign currency"}, {required: true}
            %small.error Please choose a currency.
        .row
          .field.small-12.medium-4.large-4.columns.end
            = f.label :beneficiaries
          .small-12.medium-8.large-8.columns.end
            = f.collection_check_boxes(:beneficiary_ids, @item.event.users, :id, :short_name) do |b|
              =  b.label { b.check_box + " " + b.text }
        .row
          .field.small-12.medium-4.large-4.columns.end
            &nbsp;
          .actions.small-12.medium-8.large-8.columns.end
            = f.submit "Post item"
