Packooook Malakes
\====================================
\
Item #{@item.name} has been DELETED in event #{@item.event.name}.
\
\
Item details below
\===================
Name: #{@item.name}
Value Date: #{@item.value_date.strftime('%d %b %Y')}
Description: #{@item.description}
Base amount: #{money_format(@item.base_amount, @item.base_currency)}
Base currency: #{@item.base_currency} (This is the event currency)
Exchange rate: #{@item.exchange_rate}
Foreign amount: #{money_format(@item.foreign_amount, @item.foreign_currency)}
Foreign currency: #{@item.foreign_currency} (This is the item's currency)
Beneficiaries: #{@item.beneficiaries.map { |b| b.name }.join(", ") }
Cost per beneficiary: #{money_format(@item.cost_per_beneficiary, @item.base_currency)} (This amount is in base currency)
