!!!
%html{:lang => "en"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "utf-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%title= content_for?(:title) ? yield(:title) : "Come Malaka Expenses"
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag "vendor/modernizr"
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		= image_tag "beta-testing-300x144.jpg", alt: "Beta Testing", class: "beta_testing show-for-large-up"
		= image_tag "beta-testing-120x54.jpg", alt: "Beta Testing", class: "beta_testing show-for-medium-only"
		= image_tag "beta-testing-small.jpg", alt: "Beta Testing", class: "beta_testing show-for-small-only"

		%div.user_nav
			-if user_signed_in?
				Signed in as #{link_to (current_user.name), edit_user_registration_path}. Not you?
				= link_to "Sign out", destroy_user_session_path, method: :delete
			-else
				#{link_to "Sign up", new_user_registration_path} or
				= link_to "Sign in", new_user_session_path
		- if !notice.blank?
			.alert-box.warning.radius{"data-alert" => ""}
				= notice
				%a.close{:href => "#"} &times;
		- if !alert.blank?
			.alert-box.alert.radius{"data-alert" => ""}
				= alert
				%a.close{:href => "#"} &times;
		= yield
